.box{
    width: 1200px;
    margin: 0 auto;
}
.a{
    width: 120px;
    height: 120px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
}
.b{
    width: 120px;
    height: 140px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    margin-left: 150px;
    margin-top: -120px;
}